@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Kelly+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body::-webkit-scrollbar {
    display: none;
  }
.menu-container{
  display: flex;
  justify-content: center;
  height: 10vh;
}
.navigation {
    height: 7vh;
    background: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-top: 5vh;
}

.navigation ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none; 
  }
  
  .navigation ul li {
    position: relative;
    list-style: none;
    width: 4vw;
    height: 4vw;
    z-index: 1;
  }
  
  .navigation ul li a {
    position: relative;
    display: flex;
    transform: translateY(+2.75vh);
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: bold;
  }
  
  .navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 5%;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
  }
  
  .navigation ul li.active a .icon {
    transform: translateY(-55%);
  }
  
  .navigation ul li a .text {
    position: absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: 00.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(30px);
  }
  
  .navigation ul li.active a .text {
    opacity: 1;
    transform: translateY(20px);
  }
.main{  
    background-attachment: fixed;
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow:hidden;
}

div.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.container div.Ivan h2{
    font-family: "Kelly Slab", serif;
    color: white;
}
h1{
    font-family: "Pacifico", serif;
    color: black;
    display: flex;

    /* font-weight: bold; */
}

.Ivan{
    display: flex;
    width: 90vw;
    background-color: #90be90;
    margin-bottom: 5vw;
    justify-content: center; 
    align-items: center;
    border: 2px solid transparent;
    border-radius: 20px; 
}


.profile img, .profile2 img{
    width: 10vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    border: 1px transparent solid;
    border-radius: 20px;
}
.profile{
    justify-content: center; 
    align-items: center;
    width: 10vw;
}
.biography{
    margin-left: 2vw;
    width: 75vw;
}

.ObjectContainer{
    display: flex;
    margin-top: 8vh;
    flex-direction: column;
    position: relative;   
    background-color: #c4e9c4dc;
    border-radius: 30px;  
    height: 75vh;
    width: 90vw;
}
.ObjectContent{
    margin-left: 5vw;
    width:40vw;
}
.ObjectMap{
    width:  30vw;
    height: 30vw;
    margin-left: 2%;
    position: absolute; 
    left: 60%; 
    top: 15%; 
}
iframe.map{
    width: 25vw;
    height: 25vw;
    border: gray 1px solid;
    border-radius: 25px;    
}
.ObjectCarousel{
    width: 40vw;

}
#content {
  margin-top: 1%;
  width: 100vw; 
  height: calc(100vh - 8vh);
  border: none;
  overflow: hidden;
}