.hover-text {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-size: 18px;
    color: #007BFF;
    margin-left: 2.5%;
    margin-right: 2.5%;
    font-family: "Comic Sans MS", "Comic Sans";
    font-weight: bold;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

.hover-text:hover .dropdown {
    display: block;
}
body{
    font-family: "Comic Sans MS", "Comic Sans";
    margin: 0  auto;
}
.dropdown a {
    text-decoration: none;
    display: block;
    padding: 5px 10px;
    color: #333;
}

.dropdown a:hover {
    background-color: #f0f0f0;
    color: #007BFF;
}

div.menu {
    text-align: center;
} 
div.menu a {
    text-decoration: none;
    font-weight: bold;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

div.container{
    display: grid;
  place-items: center;  
}

div.container div.Ivan h2{
    font-family: Papyrus, sans-serif;
    color: #007BFF;
    /* font-weight: bold; */
}
h1{
    font-family: Helvetica, sans-serif;
    color: #007BFF;
    display: flex;

    /* font-weight: bold; */
}
div.container div.Ivan p{

}
.Ivan{
    width: 50%;
    clear: both;
}
.profile img, .profile2 img{
    width: 100%;
}
.profile{
    margin-top: 10%;
    width: 20%;
    float: left;
}
/* .profile img{
    width: 20%;
} */
.biography{
    margin-top: 10%;
    margin-left: 2%;
    float: right;
    width: 78%;
}

.profile2{
    margin-top: 10%;
    width: 20%;
    float: right;
}
/* .profile img{
    width: 20%;
} */
.biography2{
    margin-top: 10%;
    float: left;
    width: 78%;
}

